{{define "Index"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Registration</title>
</head>
<body>
    <h1>Product Registration</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Apple</td>
                <td>Delicious</td>
                <td>1.00</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Pineapple</td>
                <td>Very delicious</td>
                <td>2.00</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}